h3 {
  color: rgb(0, 255, 255); 
  text-align: center;
}

h4 {
  color: rgb(255, 0, 77);
  font-size: 20px;
  margin-top: 20px;
  text-shadow: 0 0 10px rgba(255, 0, 77, 0.8);
  text-align: center;

}

p {
  font-size: 18px;
  line-height: 1.6; 
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}
