/* Estilos generales */
h1, h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 0 10px #ff004d, 0 0 20px #ff004d, 0 0 30px #ff004d, 0 0 40px #ff004d, 0 0 70px #ff004d, 0 0 80px #ff004d, 0 0 100px #ff004d, 0 0 150px #ff004d;
}

h2 {
  color: #ff004d;
}

.informacion {
  color: #fff;
  background-color: #000;
  margin-top: 50px;
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid transparent; /* Borde inicial transparente */
  animation: cambioColor 5s infinite alternate; /* Animación para cambiar el color */
}

.eventos {
  width: 100%;
  height: 100%;
  background-color: #2b2828;
}

.firma,
.charla_streamer,
.conciertos,
.peliculas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 400px;
  perspective: 100%;
}

.carrusel {
  animation: rotar 40s infinite linear; /* Cambia la duración de la animación a 40s */
  transform-style: preserve-3d;
}

.carrusel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.carrusel figure {
  width: 100%;
  height: 120px;
  position: absolute;
  box-shadow: none; /* Eliminar el borde */
  transition: all 5000ms;
  transform-origin: 50% 50%; /* Establece el punto de origen de la transformación */
  transform: perspective(600px) rotateY(0deg) rotateZ(0deg); /* Aplica la perspectiva y la rotación */
}

.carrusel figure:hover {
  box-shadow: 0px 0px 0px 0px black;
  transition: all 5000ms;
}

.carrusel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(500px) rotateZ(0deg);
}
.carrusel figure:nth-child(2) {
  transform: rotateY(45deg) translateZ(500px) rotateZ(0deg);
}
.carrusel figure:nth-child(3) {
  transform: rotateY(90deg) translateZ(500px) rotateZ(0deg);
}
.carrusel figure:nth-child(4) {
  transform: rotateY(135deg) translateZ(500px) rotateZ(0deg);
}
.carrusel figure:nth-child(5) {
  transform: rotateY(180deg) translateZ(500px) rotateZ(0deg);
}
.carrusel figure:nth-child(6) {
  transform: rotateY(225deg) translateZ(500px) rotateZ(0deg);
}
.carrusel figure:nth-child(7) {
  transform: rotateY(270deg) translateZ(500px) rotateZ(0deg);
}
.carrusel figure:nth-child(8) {
  transform: rotateY(315deg) translateZ(500px) rotateZ(0deg);
}

.carrusel img {
  height: 200px;
  width: 300px;
  transition: all 5000ms;
}

.carrusel img:hover {
  transform: scale(1.5);
  transition: all 5000ms;
}
/* Ajusta los ángulos para más figuras */

.carrusel,
.informacion {
  flex: 1;
  position: relative;
  width: 99%;
}

.boton_compraEventos {
  background-color: rgb(255, 0, 77);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.boton_compraEventos:hover {
  background-color: rgb(0, 255, 255);
  color: rgb(0, 0, 0);
}


@keyframes rotar {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}

@keyframes cambioColor {
  0% {
      border-color: rgba(255, 0, 77, 0.8);
  }
  50% {
      border-color: rgba(0, 255, 0, 0.8);
  }
  100% {
      border-color: rgba(0, 255, 234, 0.8);
  }
}
