form{
  color: white;
  text-align: center;
  margin-top: 50px;
}

fieldset {
  display: inline-block;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgb( 0 , 255 , 255 );
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8); 
}

input{
  padding-left: 12px;
  margin-top: 15px;
  border-radius: 15px;
  width: 400px;
  height: 40px;
  background-color: rgb(15, 15, 15);
  color: white;
}

#finalizarReserva{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgb( 0 , 255 , 255 ) ;
  color: black;
  border-radius: 10px;
  width: 400px;
  height: 40px;
}

#finalizarReserva:hover{
  transform: scale(0.90);
  box-shadow: 0 5px 5px white;
  transition: .4s;
}

#reiniciarReserva{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgb( 0 , 255 , 255 ) ;
  color: black;
  border-radius: 10px;
  width: 400px;
  height: 40px;
}

#reiniciarReserva:hover{
  transform: scale(0.90);
  box-shadow: 0 5px 5px white;
  transition: .4s;
}

#divFecha{
  margin-top: 10px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#divHora{
  margin-top: 50px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#divCantidad{
  margin-top: 50px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#divDatos{
  margin-top: 50px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#fecha {
  text-align: center;
}

#hora {
  text-align: center;
}

#cantidad {
  text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin-right: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  transform: scale(2.6);
}

#divInputGenerico{
  position: relative;
}

#labelFlotanteNombre {
  position: absolute;
  left: 15px;
  top: 30px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  transition: .4s;
}

#labelFlotanteCorreo {
  position: absolute;
  left: 15px;
  top: 30px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  transition: .4s;
}

#labelFlotanteTelefono {
  position: absolute;
  left: 15px;
  top: 30px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  transition: .4s;
}

.error-mensaje {
  color: white;
  font-size: 15px;
  text-align: left;
}

.error-mensaje ul {
  padding: 0;
  list-style: circle;
  margin-left: 30px;
}
.error-mensaje li {
  margin-bottom: 5px;
}

#errores{
  margin: 0 auto;
  margin-top: 20px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid red;
  display: none;
}