form{
  color: white;
  text-align: center;
  margin-top: 40px;
}

fieldset {
  display: inline-block;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgb( 0 , 255 , 255 );
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8); 
}

input{
  text-align: center;
  margin-top: 10px;
}

#finalizarReserva{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgb( 0 , 255 , 255 ) ;
  color: black;
  border-radius: 10px;
  width: 200px;
  height: 40px;
}

#finalizarReserva:hover{
  transform: scale(0.90);
  box-shadow: 0 5px 5px white;
  transition: .4s;
}

input{
    border-radius: 10px;
}

#divFecha{
  margin-top: 20px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

#divHora{
  margin-top: 50px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

#divCantidad{
  margin-top: 50px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

#divDatos{
  margin-top: 50px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

#fecha{
  width: 400px;
  height: 40px;
  background-color: rgb(15, 15, 15);
  color: white;
}

#hora{
  width: 400px;
  height: 40px;
  background-color: rgb(15, 15, 15);
  color: white;
}

#cantidad{
  width: 400px;
  height: 40px;
  background-color: rgb(15, 15, 15);
  color: white;
}

#inputContacto{
  border-radius: 10px;
  width: 400px;
  height: 40px;
  background-color: rgb(15, 15, 15);
  color: white;
}
