/* En tu archivo contacto.css */

.contenedor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: rgb(0, 255, 255); /* Color para el título */
  }
  
  p {
    font-size: 18px; /* Tamaño de letra para los párrafos */
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: rgb(0, 255, 255); /* Color para las etiquetas */
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(0, 255, 255); /* Color del borde para los campos de texto */
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: rgb(0, 255, 255); /* Color de fondo para el botón de enviar */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: rgb(0, 200, 200); /* Cambio de color al pasar el ratón sobre el botón */
  }
  