form{
  margin-top: 40px;
  color: white;
}

#tituloDireccion{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-right: 200px;
}

#datosDireccion {
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb( 0 , 255 , 255 );
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8); 
}

#divDireccion{
  text-align: center;
  margin-top: 10px;
}

#Direccion{
  border-radius: 10px;
  width: 250px;
  height: 30px;
}

#datosBancarios{
  margin-top: 60px;
  text-align: center;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

#nombreTitular{
  text-align: center;
  margin-top: 3px;
}

#numeroTarjeta{
  text-align: center;
  margin-top: 3px;
}

#fechaCaducidad{
  text-align: center;
  margin-top: 3px;
}

#CVV{
  text-align: center;
  margin-top: 3px;
}

input{
  margin-top: 10px;
  border-radius: 10px;
}

#datosCliente{
  margin-top: 60px;
  text-align: center;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

#DNI{
  text-align: center;
  margin-top: 3px;
}

#nombreApellidos{
  text-align: center;
  margin-top: 3px;
}

#correo{
  text-align: center;
  margin-top: 3px;
}

#finalizarCompra{
  border-radius: 10px;
  background-color: rgb(255, 0, 77);
  color: rgb(0, 0, 0);
}

#divFinalizarCompra{
  margin-top: 60px;
  text-align: center;
}

#finalizarCompra:hover{
  background-color: rgb(0, 255, 255);
  color: rgb(0, 0, 0);
}