body{
    background-color: rgb(85, 85, 85);
  }
  
  header{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    text-align: center;
  }
  
  .logo{
    display: flex;
    align-items: center;  
    padding: 15px;
  }
  
  .logo img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
  }
  
  .logo h1 {
    color: rgb(0, 255, 0);
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.8); /* Sombreado verde con mayor intensidad */
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    margin: 0; 
    text-align: center;
    flex-grow: 1; 
  }
  header nav {
    box-shadow:0 0 10px rgba(255, 255, 255, 0.8); 
    flex-grow: 1;
    text-align: center;
    background-color: rgb(85, 85, 85);
    display: inline-block; 
    padding: 10px; 
    border-radius: 20px 20px 0 0;
  
  }
  
  header nav ul {
    margin: 0;
    padding: 10px;
    margin: 0;
    text-align: center;
  
  }
   
  header nav ul li {
    display: inline;
    margin-right: 20px; 
    text-align: center;
    
  }
  
  header nav ul li a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
  
  }
  header nav ul li a{
    color: rgb(255, 255, 255);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Footer */
  footer {
    position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 40%;
    background-color: black;
    border-radius: 50px;
  }
  
    footer p {
        color: rgb(0, 255, 255);
        text-shadow: 0 0 5px rgb(0, 255, 255),
                     0 0 10px rgb(0, 255, 255),
                     0 0 20px rgb(0, 255, 255),
                     0 0 30px rgb(0, 255, 255),
                     0 0 40px rgb(0, 255, 255),
                     0 0 55px rgb(0, 255, 255),
                     0 0 75px rgb(0, 255, 255);
        padding: 30px;
    }
  
  footer nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  
  footer nav ul li {
    display: inline;
    margin-right: 20px; 
    text-align: center;
  }
  
  
  footer nav ul li a {
    color: white;
  }