table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin-bottom: 100px;
}

th, td {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: 0 0 5px rgba(255, 0, 85, 0.5);
}

th {
  background-color: #f2f2f2;
  color: rgb(255, 0, 77);
}

th[colspan="7"] {
  font-size: 24px;
  font-weight: bold;
}

.carrusel_contenedor {
  position: relative;
  width: 100%;
}

.carrusel {
  overflow: hidden;
  position: relative;
}


#btnAnterior,
#btnSiguiente {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#btnAnterior {
  left: 10px;
}

#btnSiguiente {
  right: 10px;
}

.carrusel img {
  width: 80%;
  height: 80%; 
  display: block;
  margin: 0 auto;
}
