/* En tu archivo index.css */

/* Estilos para las tablas */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px; /* Espacio entre las celdas de la tabla */
  margin-bottom: 100px;
}

th, td {
  border: 1px solid black;
  padding: 12px; /* Aumenta el espacio interno de las celdas */
  text-align: center;
  font-size: 18px; /* Tamaño de letra para los títulos y contenido de la tabla */
  background-color: rgb(0, 0, 0); /* Fondo negro para las celdas */
  color: white; /* Color de texto blanco */
  box-shadow: 0 0 5px rgba(255, 0, 85, 0.5); /* Efecto de neon */
}

th {
  background-color: #f2f2f2;
  color: rgb(255, 0, 77); /* Color de texto para los títulos de la tabla */
}

th[colspan="7"] {
  font-size: 24px;
  font-weight: bold;
}

.carrusel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carrusel img {
  width: 100%;
  display: block; /* Cambiado de 'none' a 'block' */
  position: absolute;
  top: 0;
  left: 0;
}

.boton-carrusel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.boton-izquierda {
  left: 10px;
}

.boton-derecha {
  right: 10px;
}
