form{
  color: white;
  text-align: center;
  margin-top: 40px;
}

fieldset {
  display: inline-block;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgb( 0 , 255 , 255 );
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8); 
}

input{
  text-align: center;
  margin-top: 10px;
}

#finalizarReserva{
  border-radius: 10px;
  color: #000000;
  background-color: #3daeff;
}

#finalizarReserva:hover{
  background-color: #89ceff;
}

input{
    border-radius: 10px;
}

#divFecha{
  color: white;
  font-weight: 300px;
  text-align: center;
}

#divHora{
  margin-top: 60px;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

#divCantidad{
  margin-top: 60px;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

#divDatos{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-top: 60px;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}
