form{
  text-align: center;
  margin-top: 40px;
  color: white;
  }

fieldset {
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 255, 255, 0.8);
  border: 2px solid rgb(0, 255, 255);
  border-radius: 5px;
}

input{
  text-align: center;
  margin-top: 10px;
}

#finalizarReserva{
  border-radius: 10px;
  background-color: rgb(255, 0, 77);
  color: rgb(0, 0, 0);
}

#finalizarReserva:hover{
  background-color: rgb(0, 255, 255);
  color: rgb(0, 0, 0);
}

input{
    border-radius: 10px;
}

#divFecha{
  margin-top: 30px;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

#divHora{
  margin-top: 60px;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

#divCantidad{
  margin-top: 60px;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

#divDatos{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-top: 60px;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}