
details summary::marker {
    content: "Ver mas";
    color: white;
    font-size: 1.5rem;
  }
  details[open] summary::marker {
    content: "Ver menos";
  }
  #areadeTextoAbel{
    resize: none;
  }

  #tablaAbel{
    border: solid 1px rgb(0, 255, 255);
    box-sizing: border-box;
    max-width: 10%;
    max-height: 10%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
  }

  textarea{
    margin-left: 10%;
    width: 80%;
    height: 80%;
    color: white;
    background-color: rgb(150, 149, 149);
    border-radius: 20px;
    text-align: center;
  }

  #tabla2Abel{
    margin-left: 34.5%;
  }
  #tabla2Abel h1{
    margin-left: 5%;
  }

#imagenSobrenosotrosAbel{
    margin-top: 15px;
    float: right;
    width: 50%;
    height: 50%;
    text-align: center;
    box-sizing: border-box;
}
#parteInferiorAbel{
    float: left;
}
/*-------------------------------------------------------*/
#imagenRedesSociales1Abel{
    margin-top: 6px;
    margin-left: 15%;
    float: left;
    width: 15%;
    height: 15%;
    box-sizing: border-box;
}
#imagenRedesSociales2Abel{
    margin-top: 6px;
    float: right;
    width: 15%;
    height: 15%;
    box-sizing: border-box;
    margin-right: 15%;
}
#imagenRedesSociales3Abel{
    margin-top: 6px;
    float: left;
    width: 15%;
    height: 15%;
    box-sizing: border-box;
    margin-left: 3%;
}
#imagenRedesSociales4Abel{
  margin-top: 6px;
  width: 15%;
  height: 15%;
  box-sizing: border-box;
  margin-left: 52%;
}
/*-------------------------------------------------------*/
#textoSobrenosotrosAbel{
    margin-top: 5px;
    float: left;
    max-width: 50%;
    max-height: 50%;
    box-sizing: border-box;
}
main{
    display:block
}

body{
  background-color: rgba(0, 0, 0, 0.9);
}

button a{
  text-decoration: none;
  text-decoration: none;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  
}

button{
  color: #000000;
  background-color: #3daeff; 
  box-shadow: 0 0 10px rgba(60, 248, 255, 0.8);

  font-size: large;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}
button:hover{
  background-color: #89ceff;
}

html{
  min-height: 100%;
  position: relative;
    color: white;
}
.extraAbel img{
  width: 13px;
  height: 13px;
}

p{
  margin-left: 10px;
}

h1{
  margin-left: 10px;
}

h2{
  margin-left: 10px;
}

summary{
  margin-left: 10px;
}
iframe{
  width: 70%;
  margin-left: 10px;
}

#oculto{
  visibility:hidden;
}