details summary::marker {
    content: "Ver mas";
    color: white;
    font-size: 1.5rem;
  }
  details[open] summary::marker {
    content: "Ver menos";
  }
  #areadeTextoAbel{
    resize: none;
  }


  #tablaAbel{
    border: solid 1px rgb(0, 255, 255);
    box-sizing: border-box;
    max-width: 10%;
    max-height: 10%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
  }
#imagenSobrenosotrosAbel{
    float: right;
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    box-sizing: border-box;
}
#parteInferiorAbel{
    float: left;
}
#imagenRedesSociales1Abel{
    float: left;
    max-width: 33%;
    max-height: 33%;
    text-align: center;
    box-sizing: border-box;
}
#imagenRedesSociales2Abel{
    float: right;
    max-width: 33%;
    max-height: 33%;
    text-align: center;
    box-sizing: border-box;
}
#imagenRedesSociales3Abel{
    max-width: 33%;
    max-height: 33%;
    text-align: center;
    box-sizing: border-box;
    margin-left: 33%;
}
#textoSobrenosotrosAbel{
    float: left;
    max-width: 50%;
    max-height: 50%;
    box-sizing: border-box;
}
main{
    display:block
}
body{
  margin: 0;
  margin-bottom: 40px;
    background-color: rgb(85, 85, 85);
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
button{
    border-radius: 20px;
    color: white;
    background-color: rgb(12, 115, 184);
}
button:hover{
    background-color: rgb(4, 44, 71);
}
html{
  min-height: 100%;
  position: relative;
    background-color: rgb(85, 85, 85);
    color: white;
    text-shadow: 0 0 5px rgb(0, 255, 255),
                     0 0 10px rgb(0, 255, 255);
}
.extraAbel img{
  width: 13px;
  height: 13px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 40%;
}




















